// color settings
$primary_color:         #fc4a00;
$secondary_color:       #f84270;
$white:                 #fff;
$dark:                  #000;
$grey:                  #f5f5f5;


//social color
$facebook       : #3b5998;
$twitter        : #1da1f2;
$youtube        : #ff0000;
$rss            : #f26522;
$vk             : #1ab7ea;
$linkedin       : #0077b5;
// Font family 

$barlow:            'Barlow', sans-serif;
$roboto:            'Roboto', sans-serif;
$font_awesome:      'FontAwesome';